body {
  font-family: 'Work Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  line-height: 1.5;
  width: 100% !important;
  height: 100% !important; }

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  width: 100% !important;
  height: 100% !important; }

h1 {
  font-weight: 900;
  font-size: clamp(16px, 5vw, 48px);
  margin-top: 0px;
  font-family: inherit;
  line-height: 1.2;
  margin: 0px; }

h2 {
  font-weight: 800;
  font-size: clamp(16px, 4vw, 32px);
  font-family: inherit; }

h3 {
  font-size: clamp(16px, 5vw, 28px);
  font-weight: 700;
  font-family: inherit;
  margin: 0px; }

h4 {
  font-size: clamp(16px, 5vw, 32px);
  font-weight: 600;
  font-family: inherit;
  margin: 0px; }

h5 {
  font-size: clamp(16px, 5vw, 28px);
  font-weight: 500;
  font-family: inherit;
  margin: 0px; }

p {
  font-size: clamp(16px, 5vw, 16px);
  line-height: 1.5; }

h6 {
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  margin: 0px; }

a {
  color: #ff00E5;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #802677; }
  a:focus {
    text-decoration: none;
    color: #802677;
    outline: none;
    outline-offset: none; }

ul {
  list-style: none;
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0; }

ol {
  list-style: none;
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0; }

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1E7A46;
  margin-bottom: 20px;
  border: 0; }

header {
  margin-bottom: 20px; }

main {
  /*.container{
  	padding: 0px 0px 0px 0px;
  }*/ }
  main .container-md {
    padding: 0px 0px 160px 0px; }
  main.superblack {
    background-color: #090a0a; }

.bggray {
  background-color: #fffefe; }

.headerbox {
  display: flex;
  align-items: center; }
  .headerbox h2 {
    color: #333;
    margin-bottom: 16px;
    margin-top: 8px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

a.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-indent: -9999px;
  float: left;
  display: block;
  background-image: url(../img/logonew.png);
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 30px;
  margin-top: 12px; }

/*.navbar {
	/*border-color: rgba(231, 231, 231, 0);
	/*-webkit-box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
}*/
nav.superblack {
  background-color: #090a0a; }

.navbar-dark .navbar-nav .nav-link {
  color: #f8f9fa;
  font-weight: 500; }

.hero {
  width: 100%;
  background-image: url(../img/bkhero.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  background-size: cover;
  padding: 60px 20px 20px 20px;
  margin-bottom: 20px; }
  .hero h1 {
    text-transform: uppercase;
    color: #333;
    margin-bottom: 16px; }
  .hero h4 {
    color: #333; }
  .hero .btn-custom {
    text-transform: uppercase;
    color: #e5e5e5;
    background-color: #FF00E6;
    /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
    padding: 8px 20px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border: 0; }
    .hero .btn-custom:hover {
      color: #e5e5e5;
      background-image: none;
      background-color: #802677; }
    .hero .btn-custom:focus {
      color: #e5e5e5;
      background-image: none;
      background-color: #802677; }
    .hero .btn-custom:active {
      color: #e5e5e5;
      background-image: none;
      background-color: #802677; }
  .hero .btn-custom.focus {
    color: #e5e5e5;
    background-image: none;
    background-color: #802677; }
  .hero .btn-custom.active {
    color: #e5e5e5;
    background-image: none;
    background-color: #802677; }
  .hero .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .hero .btn:active:focus {
      outline: none;
      outline-offset: none; }
  .hero .btn:focus {
    outline: none;
    outline-offset: none; }
  .hero .btn:active.focus {
    outline: none;
    outline-offset: none; }

.fadehero {
  margin-bottom: 20px;
  width: 100%;
  background-image: url(../img/fadehero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  padding: 60px 20px 20px 20px;
  margin-top: 20px;
  background-size: cover; }
  .fadehero h1 {
    text-transform: uppercase;
    color: #333; }
  .fadehero h4 {
    color: #333; }
  .fadehero p {
    color: #333; }

.btn-custom {
  text-transform: uppercase;
  color: #e5e5e5;
  background-color: #FF00E6;
  /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 25px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 0; }
  .btn-custom:hover {
    color: #e5e5e5;
    background-image: none;
    background-color: #802677; }
  .btn-custom:focus {
    color: #e5e5e5;
    background-image: none;
    background-color: #802677; }
  .btn-custom:active {
    color: #e5e5e5;
    background-image: none;
    background-color: #802677; }

.btn-custom.focus {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677; }

.btn-custom.active {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677; }

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn:active:focus {
    outline: none;
    outline-offset: none; }
.btn:focus {
  outline: none;
  outline-offset: none; }
.btn:active.focus {
  outline: none;
  outline-offset: none; }

.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn.active:focus {
    outline: none;
    outline-offset: none; }

.btn.focus {
  outline: none;
  outline-offset: none; }

.btn.active.focus {
  outline: none;
  outline-offset: none; }

.herohome {
  position: relative;
  min-height: 60vh; }
  .herohome .hero-overlay {
    text-align: left;
    position: absolute;
    z-index: 0;
    width: 75%; }
    .herohome .hero-overlay h1 {
      text-transform: uppercase;
      font-size: clamp(16px, 5vw, 48px);
      transform: translateY(4vw);
      color: #edebeb;
      font-weight: 900; }
    .herohome .hero-overlay p {
      font-size: clamp(16px, 0.5vw, 16px);
      transform: translateY(4vw);
      color: #edebeb;
      font-weight: 400; }
    .herohome .hero-overlay .btn-custom {
      transform: translateY(6vw);
      text-transform: uppercase;
      color: #e5e5e5;
      background-color: #FF00E6;
      /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
      background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
      padding: 8px 16px;
      letter-spacing: 1px;
      margin: 0;
      font-size: clamp(14px, 5vw, 14px);
      font-weight: 500;
      border-radius: 25px;
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
      border: 0; }
      .herohome .hero-overlay .btn-custom:hover {
        color: #e5e5e5;
        background-image: none;
        background-color: #802677; }
      .herohome .hero-overlay .btn-custom:focus {
        color: #e5e5e5;
        background-image: none;
        background-color: #802677; }
      .herohome .hero-overlay .btn-custom:active {
        color: #e5e5e5;
        background-image: none;
        background-color: #802677; }
    .herohome .hero-overlay .btn-custom.focus {
      color: #e5e5e5;
      background-image: none;
      background-color: #802677; }
    .herohome .hero-overlay .btn-custom.active {
      color: #e5e5e5;
      background-image: none;
      background-color: #802677; }
    .herohome .hero-overlay .btn:active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .herohome .hero-overlay .btn:active:focus {
        outline: none;
        outline-offset: none; }
    .herohome .hero-overlay .btn:focus {
      outline: none;
      outline-offset: none; }
    .herohome .hero-overlay .btn:active.focus {
      outline: none;
      outline-offset: none; }

.fadeherohome {
  position: relative;
  margin-bottom: 24px; }
  .fadeherohome .hero-overlay {
    padding: 20px;
    text-align: left;
    position: absolute;
    z-index: 0;
    width: 60%; }
    .fadeherohome .hero-overlay h1 {
      text-transform: uppercase;
      transform: translateY(4vw);
      color: #333;
      font-weight: 900; }
    .fadeherohome .hero-overlay p {
      transform: translateY(5vw);
      color: #333;
      font-weight: 400; }

.wsgrherohome {
  position: relative;
  margin-bottom: 24px; }
  .wsgrherohome .hero-overlay {
    padding: 20px;
    text-align: left;
    position: absolute;
    z-index: 0;
    width: 60%; }
    .wsgrherohome .hero-overlay h1 {
      text-transform: uppercase;
      transform: translateY(4vw);
      color: #333;
      font-weight: 900; }
    .wsgrherohome .hero-overlay p {
      transform: translateY(6vw);
      color: #333;
      font-weight: 400; }

.wineherohome {
  position: relative; }
  .wineherohome .hero-overlay {
    padding: 20px;
    text-align: left;
    position: absolute;
    z-index: 0;
    width: 60%; }
    .wineherohome .hero-overlay h1 {
      text-transform: uppercase;
      font-size: 2vw;
      transform: translateY(4vw);
      color: #edebeb;
      font-weight: 900; }
    .wineherohome .hero-overlay p {
      font-size: 1vw;
      transform: translateY(5vw);
      color: #edebeb;
      font-weight: 400; }

/*.intro {
	background-image: url(../img/herohome.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height:700px;
	background-size:cover;
	margin-top:40px;
	h1 {
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom:32px;
		color: #edebeb;
		span {
			font-weight: 600;
			color: #5ca9fb;
		}
	}
	h4{
	color: #edebeb;	
	}
	p {
		color: #cbc8c8;
		margin-bottom:32px;
	}
	.intro-text {
	margin-top: 100px;
	text-align: left;
}
}
*/
article {
  display: block; }
  article .inset-image {
    float: left;
    margin-right: 1rem;
    width: 250px;
    shape-outside: circle(50%); }
  article p {
    display: block; }

#about {
  color: #666; }
  #about h1 {
    color: #333; }
  #about ul {
    list-style-type: circle; }
    #about ul li {
      padding-left: 10px;
      margin-left: 20px; }

.fademast {
  background-color: #fffefe; }

.bkwinemast {
  background-color: #fffefe; }

#casestudy {
  padding: 0px 0 10px 0; }
  #casestudy section {
    background-color: #fffefe;
    color: #666;
    padding: 20px; }
  #casestudy ul {
    list-style-type: circle; }
    #casestudy ul li {
      padding-left: 0px;
      margin-left: 20px; }
  #casestudy .intro-text {
    padding-top: 20px;
    padding-left: 20px; }
  #casestudy h3 {
    /*margin-bottom:24px;*/
    text-transform: capitalize; }
  #casestudy h5 {
    color: #333;
    /*margin-bottom:20px;*/
    text-transform: uppercase; }

#fade {
  padding: 20px 0 100px 0;
  background-color: #fffefe;
  color: #666; }
  #fade ul {
    list-style-type: circle; }
    #fade ul li {
      padding-left: 0px;
      margin-left: 20px; }
  #fade .headerbox {
    display: flex;
    align-items: center; }
    #fade .headerbox h2 {
      color: #333;
      margin-bottom: 8px; }
  #fade h2 {
    color: #919190; }
  #fade h3 {
    text-transform: capitalize; }
  #fade h5 {
    color: #333;
    text-transform: uppercase; }

.wsgrhero {
  width: 100%;
  background-image: url(../img/wsgrhero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  background-size: cover;
  margin-bottom: 20px;
  padding: 60px 20px 20px 20px; }
  .wsgrhero h1 {
    text-transform: uppercase;
    color: #333;
    margin-bottom: 16px; }
  .wsgrhero h4 {
    color: #333; }

#wsgr h5 {
  text-transform: uppercase; }
#wsgr ul {
  list-style-type: circle;
  margin-left: 20px; }
  #wsgr ul li {
    padding-left: 0px;
    margin-left: 20px; }
#wsgr .intro-text {
  padding-top: 20px;
  padding-left: 20px; }
#wsgr .col-md-offset-2 {
  margin-left: 0px; }

.portfolio {
  display: block;
  margin-top: 20px; }
  .portfolio h4 {
    color: #edebeb;
    margin-bottom: 28px; }
  .portfolio h2 {
    color: #edebeb;
    margin-bottom: 28px; }
  .portfolio .rectangle {
    min-height: 10vh;
    width: 100%;
    border-radius: 5px;
    background-color: #fcfcfc; }
    .portfolio .rectangle.blue {
      background-color: #96d0f0; }
      .portfolio .rectangle.blue .btn-custom {
        text-transform: uppercase;
        color: #fff;
        background-color: #77A9BD;
        /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
        background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
        padding: 8px 16px;
        letter-spacing: 1px;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 25px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
        border: 0; }
        .portfolio .rectangle.blue .btn-custom:hover {
          color: #fff;
          background-image: none;
          background-color: #6372ff; }
        .portfolio .rectangle.blue .btn-custom:focus {
          color: #fff;
          background-image: none;
          background-color: #6372ff; }
        .portfolio .rectangle.blue .btn-custom:active {
          color: #fff;
          background-image: none;
          background-color: #6372ff; }
      .portfolio .rectangle.blue .btn-custom.focus {
        color: #fff;
        background-image: none;
        background-color: #6372ff; }
      .portfolio .rectangle.blue .btn-custom.active {
        color: #fff;
        background-image: none;
        background-color: #6372ff; }
      .portfolio .rectangle.blue .btn:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .portfolio .rectangle.blue .btn:active:focus {
          outline: none;
          outline-offset: none; }
      .portfolio .rectangle.blue .btn:focus {
        outline: none;
        outline-offset: none; }
      .portfolio .rectangle.blue .btn:active.focus {
        outline: none;
        outline-offset: none; }
      .portfolio .rectangle.blue .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .portfolio .rectangle.blue .btn.active:focus {
          outline: none;
          outline-offset: none; }
      .portfolio .rectangle.blue .btn.focus {
        outline: none;
        outline-offset: none; }
      .portfolio .rectangle.blue .btn.active.focus {
        outline: none;
        outline-offset: none; }
    .portfolio .rectangle.yellow {
      background-color: #f8d047; }
      .portfolio .rectangle.yellow .btn-custom {
        text-transform: uppercase;
        color: #fff;
        background-color: #C79800;
        /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
        background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
        padding: 8px 16px;
        letter-spacing: 1px;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 25px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
        border: 0; }
        .portfolio .rectangle.yellow .btn-custom:hover {
          color: #fff;
          background-image: none;
          background-color: #947100; }
        .portfolio .rectangle.yellow .btn-custom:focus {
          color: #fff;
          background-image: none;
          background-color: #947100; }
        .portfolio .rectangle.yellow .btn-custom:active {
          color: #fff;
          background-image: none;
          background-color: #947100; }
      .portfolio .rectangle.yellow .btn-custom.focus {
        color: #fff;
        background-image: none;
        background-color: #947100; }
      .portfolio .rectangle.yellow .btn-custom.active {
        color: #fff;
        background-image: none;
        background-color: #947100; }
      .portfolio .rectangle.yellow .btn:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .portfolio .rectangle.yellow .btn:active:focus {
          outline: none;
          outline-offset: none; }
      .portfolio .rectangle.yellow .btn:focus {
        outline: none;
        outline-offset: none; }
      .portfolio .rectangle.yellow .btn:active.focus {
        outline: none;
        outline-offset: none; }
      .portfolio .rectangle.yellow .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .portfolio .rectangle.yellow .btn.active:focus {
          outline: none;
          outline-offset: none; }
      .portfolio .rectangle.yellow .btn.focus {
        outline: none;
        outline-offset: none; }
      .portfolio .rectangle.yellow .btn.active.focus {
        outline: none;
        outline-offset: none; }
    .portfolio .rectangle .portfolio-item1 {
      background-image: url(../img/fadetech.png);
      background-repeat: no-repeat;
      height: 500px;
      display: flex;
      align-items: center;
      padding: 20px; }
      .portfolio .rectangle .portfolio-item1 h2 {
        color: #333; }
      .portfolio .rectangle .portfolio-item1 p {
        color: #333;
        margin-bottom: 28px; }
    .portfolio .rectangle .portfolio-item2 {
      background-image: url(../img/bkwineiteration1.png);
      background-repeat: no-repeat;
      height: 500px;
      display: flex;
      align-items: center;
      padding: 20px; }
    .portfolio .rectangle h2 {
      color: #333; }
    .portfolio .rectangle p {
      color: #333;
      margin-bottom: 28px; }
    .portfolio .rectangle .portfolio-item3 {
      background-image: url(../img/wsrescue.png);
      background-repeat: no-repeat;
      height: 500px;
      display: flex;
      align-items: center;
      padding: 20px; }
    .portfolio .rectangle h2 {
      color: #333;
      text-transform: capitalize; }
    .portfolio .rectangle p {
      color: #333;
      margin-bottom: 28px; }

.workbanner {
  display: flex;
  align-items: center;
  justify-content: center; }
  .workbanner ul {
    padding: 20px;
    display: block;
    height: 100%; }
    .workbanner ul li {
      float: left;
      margin-right: 48px;
      width: 10%; }
      .workbanner ul li img {
        opacity: .55;
        display: block; }

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(99, 114, 255, 0.8)), to(rgba(92, 169, 251, 0.8)));
  background: linear-gradient(to right, rgba(99, 114, 255, 0.8) 0%, rgba(92, 169, 251, 0.8) 100%);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .hover-bg .hover-text > h4 {
    opacity: 0;
    color: #fff;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase; }
.hover-bg:hover .hover-text {
  opacity: 1; }
  .hover-bg:hover .hover-text > h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

#work {
  padding: 20px 0 100px 0; }
  #work .container .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px; }

#contact {
  color: #666; }
  #contact .container-md {
    padding-left: 0px; }
    #contact .container-md .row .col-md-12 h1 {
      color: #333232; }
    #contact .container-md .contact-item {
      color: #666;
      margin: 20px 0; }
      #contact .container-md .contact-item span {
        color: #666;
        margin-bottom: 10px;
        text-align: center; }
      #contact .container-md .contact-item i.fa {
        margin-right: 10px; }
    #contact .container-md .social {
      text-align: left; }
      #contact .container-md .social ul li {
        display: inline-block;
        margin: 0 20px; }
      #contact .container-md .social i.fa {
        font-size: 1rem;
        width: 40px;
        height: 40px;
        padding: 12px 0;
        border: 2px solid #FF00E6;
        border-radius: 50%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        #contact .container-md .social i.fa:hover {
          color: #802677;
          background: #fffefe; }

.nav .open > a {
  border-color: #337ab7; }
  .nav .open > a:hover {
    border-color: #337ab7; }
  .nav .open > a:focus {
    border-color: #337ab7; }

label {
  font-size: 1.5rem;
  font-weight: 400;
  float: left; }

footer {
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #090a0a;
  /*border-color: rgba(231, 231, 231, 0);
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);*/
  border-top: 1px solid transparent; }
  footer p {
    color: #e5e5e5;
    font-size: 1rem; }
  footer.superblack {
    background-color: #090a0a; }
  footer a {
    color: #FF00E5;
    text-decoration: none; }
    footer a:hover {
      color: #FF4DED;
      text-decoration: underline; }

@media (max-width: 428px) {
  .intro {
    background-image: none;
    width: 100%;
    height: auto;
    background-size: cover;
    margin-top: 40px; }

  .workbanner ul li {
    margin-right: 12px; }
    .workbanner ul li img {
      opacity: .7; } }
