/*:root {
	--base-font-size: 12px;
	--fluid-typography-ratio: 0.9;
	--rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
	font-size: var(--rem);
  }*/
:root {
  --ff-body: "Merriweather", serif !important;
  --ff-heading: "Oswald", sans-serif;
  --clr-primary-400: hsl(60 100% 50%);
  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-100: hsl(0 0% 100%);
  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-400: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Merriweather', serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.5;
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 320px;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  width: 100% !important;
  height: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
}

h1 {
  font-weight: 800;
  margin-top: 0px;
  font-family: inherit;
  line-height: 1.2;
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-family: inherit;
}

h3 {
  font-weight: 300;
  font-family: inherit;
  margin: 0px;
}

h4 {
  font-weight: 300;
  font-family: inherit;
  margin: 0px;
}

h5 {
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  margin: 0px;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-weight: 300px;
}

h6 {
  font-weight: 300;
  font-family: inherit;
  line-height: 1.5;
  margin: 0px;
}

.flex-parent {
  display: flex;
}

.flex-parent .flex-item {
  padding: 1rem 1rem 1rem 0rem;
}

.flex-parent > * {
  flex-basis: 100%;
}

a {
  color: #ff0000 !important;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #802677;
}

a:focus {
  text-decoration: none;
  color: #802677;
  outline: none;
  outline-offset: none;
}

ul {
  list-style: none;
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

li {
  font-weight: 400px;
}

ol {
  list-style: none;
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1E7A46;
  margin-bottom: 20px;
  border: 0;
}

.superblack {
  background-image: linear-gradient(135deg, rgba(16, 16, 16, 0.97), rgba(30, 30, 30, 0.98));
}

main {
  padding-top: 42px;
  padding-bottom: 100px;
}

main header {
  margin-bottom: 12px;
}

main .container-md {
  padding: 0px 0px 0px 0px;
}

main .container {
  padding: 0px 0px 0px 0px;
}

main .container-fluid {
  padding: 0px 80px 0px;
}

main section {
  height: min-content;
}

.bggray {
  background-color: #fffefe;
}

.headerbox {
  display: flex;
  align-items: center;
}

.headerbox h2 {
  color: #333;
  margin-bottom: 16px;
  margin-top: 8px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

a.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-indent: -9999px;
  float: left;
  display: block;
  background-image: url(../img/logonew.png);
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 30px;
  margin-top: 12px;
}

.navbar {
  border-bottom: 1px solid #919190;
  box-shadow: 0 0 5px rgba(61, 61, 61, 0.15);
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'Oswald', sans-serif !important;
  color: #f8f9fa !important;
  font-weight: 400;
}

.hero {
  width: 100%;
  background-image: url(../img/bkhero.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  background-size: cover;
  padding: 60px 20px 20px 20px;
  margin-bottom: 20px;
}

.hero h1 {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 16px;
}

.hero h4 {
  color: #333;
}

.hero .btn-custom {
  text-transform: uppercase;
  color: #e5e5e5;
  background-color: #FF00E6;
  /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
  padding: 8px 20px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}

.hero .btn-custom:hover {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677;
}

.hero .btn-custom:focus {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677;
}

.hero .btn-custom:active {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677;
}

.hero .btn-custom.focus {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677;
}

.hero .btn-custom.active {
  color: #e5e5e5;
  background-image: none;
  background-color: #802677;
}

.hero .btn:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.hero .btn:active:focus {
  outline: none;
  outline-offset: none;
}

.hero .btn:focus {
  outline: none;
  outline-offset: none;
}

.hero .btn:active.focus {
  outline: none;
  outline-offset: none;
}

.fadehero {
  margin-bottom: 20px;
  width: 100%;
  background-image: url(../img/fadehero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  padding: 60px 20px 20px 20px;
  margin-top: 20px;
  background-size: cover;
}

.fadehero h1 {
  text-transform: uppercase;
  color: #333;
}

.fadehero h4 {
  color: #333;
}

.fadehero p {
  color: #333;
}

.imagebox {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.herohome {
  width: 100vw;
  height: 100vh;
}

.herohome .hero-overlay {
  margin: auto;
}

.herohome .hero-overlay h1 {
  text-transform: uppercase;
  color: #edebeb;
  font-weight: 500;
  letter-spacing: .1rem;
}

.herohome .hero-overlay h3 {
  font-family: 'Merriweather', serif !important;
  color: #edebeb;
  font-weight: 400;
  letter-spacing: .1rem;
}

.herohome .hero-overlay p {
  color: #edebeb;
  font-weight: 400;
}

.herohome .hero-overlay .btn-custom {
  text-transform: uppercase;
  color: #e5e5e5 !important;
  background-image: linear-gradient(to right, #ff0000 0%, #f88585 100%);
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: 0;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  border-radius: 25px;
  webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 0;
}

.herohome .hero-overlay .btn-custom:hover {
  color: #333;
  background-image: none;
  background-color: #fa8a0bd3;
}

.herohome .hero-overlay .btn-custom:focus {
  color: #333;
  background-image: none;
  background-color: #fa8a0bd3;
}

.herohome .hero-overlay .btn-custom:active {
  color: #333;
  background-image: none;
  background-color: #fa3b0b;
}

.herohome .hero-overlay .btn-custom.focus {
  color: #333;
  background-image: none;
  background-color: #fa8a0bd3;
}

.herohome .hero-overlay .btn-custom.active {
  color: #333;
  background-image: none;
  background-color: #fa8a0bd3;
}

.herohome .hero-overlay .btn:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.herohome .hero-overlay .btn:active:focus {
  outline: none;
  outline-offset: none;
}

.herohome .hero-overlay .btn:focus {
  outline: none;
  outline-offset: none;
}

.herohome .hero-overlay .btn:active.focus {
  outline: none;
  outline-offset: none;
}

.fadeherohome {
  position: relative;
  margin-bottom: 24px;
}

.fadeherohome .hero-overlay {
  padding: 20px;
  transform: translateY(4vw);
  text-align: left;
  position: absolute;
  z-index: 0;
  width: 60%;
}

.fadeherohome .hero-overlay h1, .fadeherohome .hero-overlay .h1 {
  font-size: calc(.675rem + 1.5vw);
}

.fadeherohome .hero-overlay h1 {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 24px;
  font-weight: 700;
}

.fadeherohome .hero-overlay h3 {
  color: #333;
  font-weight: 300;
}

.wsgrherohome {
  position: relative;
  margin-bottom: 24px;
}

.wsgrherohome .hero-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(4vw);
  padding: 20px;
  text-align: left;
  position: absolute;
  z-index: 0;
  width: 60%;
}

.wsgrherohome .hero-overlay h1, .wsgrherohome .hero-overlay .h1 {
  font-size: calc(.675rem + 1.5vw);
}

.wsgrherohome .hero-overlay h1 {
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

.wsgrherohome .hero-overlay h3 {
  color: #333;
  font-weight: 300;
}

.wineherohome {
  position: relative;
  height: auto;
}

.wineherohome .hero-overlay {
  z-index: 0;
  transform: translateY(4vw);
  padding: 20px;
  position: absolute;
  width: 70%;
}

.wineherohome .hero-overlay h1, .wineherohome .hero-overlay .h1 {
  font-size: calc(.675rem + 1.5vw);
}

.wineherohome .hero-overlay h1 {
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

.wineherohome .hero-overlay h3 {
  color: #333;
  font-weight: 300;
}

article {
  display: block;
}

article .inset-image {
  float: left;
  margin-right: 1rem;
  width: 200px;
  shape-outside: circle(50%);
}

article p {
  display: block;
}

#about {
  color: #666;
}

#about h1 {
  color: #333;
}

#about ul {
  list-style-type: circle;
}

#about ul li {
  padding-left: 10px;
  margin-left: 20px;
}

.fademast {
  background-color: #fffefe;
}

.bkwinemast {
  background-color: #fffefe;
}

#casestudy {
  padding: 0px 0 10px 0;
}

#casestudy section {
  background-color: #fffefe;
  color: #666;
  padding: 20px;
}

#casestudy ul {
  list-style-type: circle;
}

#casestudy ul li {
  padding-left: 0px;
  margin-left: 20px;
}

#casestudy .intro-text {
  padding-top: 20px;
  padding-left: 20px;
}

#casestudy h3 {
  /*margin-bottom:24px;*/
  text-transform: capitalize;
}

#casestudy h5 {
  color: #333;
  /*margin-bottom:20px;*/
  text-transform: uppercase;
}

#fade {
  padding: 20px 0 100px 0;
  background-color: #fffefe;
  color: #666;
}

#fade ul {
  list-style-type: circle;
}

#fade ul li {
  padding-left: 0px;
  margin-left: 20px;
}

#fade .headerbox {
  display: flex;
  align-items: center;
}

#fade .headerbox h2 {
  color: #333;
  margin-bottom: 8px;
}

#fade h2 {
  color: #919190;
}

#fade h3 {
  text-transform: capitalize;
}

#fade h5 {
  color: #333;
  text-transform: uppercase;
}

.wsgrhero {
  width: 100%;
  background-image: url(../img/wsgrhero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  background-size: cover;
  margin-bottom: 20px;
  padding: 60px 20px 20px 20px;
}

.wsgrhero h1 {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 16px;
}

.wsgrhero h4 {
  color: #333;
}

#wsgr h5 {
  text-transform: uppercase;
}

#wsgr ul {
  list-style-type: circle;
  margin-left: 20px;
}

#wsgr ul li {
  padding-left: 0px;
  margin-left: 20px;
}

#wsgr .intro-text {
  padding-top: 20px;
  padding-left: 20px;
}

#wsgr .col-md-offset-2 {
  margin-left: 0px;
}

.portfolio-item {
  position: relative;
  background-repeat: no-repeat;
}

.portfolio-item h2 {
  text-transform: uppercase;
  font-size: clamp(16px, 5vw, 48px);
  color: #e5e5e5;
  font-weight: 700;
}

.portfolio-item p {
  font-size: clamp(16px, 5vw, 16px);
  color: #e5e5e5;
  font-weight: 400;
}

.portfolio-item .btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: #C79800;
  font-size: clamp(14px, 5vw, 14px);
  /*background-image: -webkit-gradient(linear, left top, right top, from(#5ca9fb), to(#6372ff));
			background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);*/
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
}

.portfolio-item .btn-custom:hover {
  color: #fff;
  background-image: none;
  background-color: #947100;
}

.portfolio-item .btn-custom:focus {
  color: #fff;
  background-image: none;
  background-color: #947100;
}

.portfolio-item .btn-custom:active {
  color: #fff;
  background-image: none;
  background-color: #947100;
}

.portfolio-item .btn-custom.focus {
  color: #fff;
  background-image: none;
  background-color: #947100;
}

.portfolio-item .btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #947100;
}

.portfolio-item .btn:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.portfolio-item .btn:active:focus {
  outline: none;
  outline-offset: none;
}

.portfolio-item .btn:focus {
  outline: none;
  outline-offset: none;
}

.portfolio-item .btn:active.focus {
  outline: none;
  outline-offset: none;
}

.portfolio-item .btn.active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.portfolio-item .btn.active:focus {
  outline: none;
  outline-offset: none;
}

.portfolio-item .btn.focus {
  outline: none;
  outline-offset: none;
}

.portfolio-item .btn.active.focus {
  outline: none;
  outline-offset: none;
}

.workbanner {
  display: flex;
}

.workbanner ul {
  padding: 20px;
}

.workbanner ul li {
  float: left;
  margin-right: 48px;
  width: 10%;
}

.workbanner ul li img {
  opacity: .7;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right, rgba(99, 114, 255, 0.8) 0%, rgba(92, 169, 251, 0.8) 100%);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  transform: translateY(100%);
  transition: all 0.3s;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  transform: translateY(0);
}

#work {
  padding: 20px 0 100px 0;
}

#work .container .row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

#contact {
  color: #666;
}

#contact .container-md {
  padding-left: 0px;
}

#contact .container-md .row .col-md-12 h1 {
  color: #333232;
}

#contact .container-md .contact-item {
  color: #666;
  margin: 20px 0;
}

#contact .container-md .contact-item span {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

#contact .container-md .contact-item i.fa {
  margin-right: 10px;
}

#contact .container-md .social {
  text-align: left;
}

#contact .container-md .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .container-md .social i.fa {
  font-size: 1rem;
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border: 2px solid #FF00E6;
  border-radius: 50%;
  transition: all 0.3s;
}

#contact .container-md .social i.fa:hover {
  color: #802677;
  background: #fffefe;
}

.nav .open > a {
  border-color: #337ab7;
}

.nav .open > a:hover {
  border-color: #337ab7;
}

.nav .open > a:focus {
  border-color: #337ab7;
}

label {
  font-size: 1.5rem;
  font-weight: 400;
  float: left;
}

footer {
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: .75em;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 5px rgba(75, 74, 74, 0.3);
  border-top: 1px solid #919190;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
}

footer p {
  color: #e5e5e5;
}

footer.superblack {
  background-color: #090a0a;
}

footer a {
  color: #b1aeae !important;
  text-decoration: underline;
}

footer a:hover {
  color: #FF4DED;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */